body{
    margin:0%;
    font-family: Arial, Helvetica, sans-serif;
}
.nav{
    width: 100%;
    height: 150px;
    background-color:  #003e7e;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.nav .logo{
    margin-top: 14px;
    margin-left: 35px;
    height: 120px;
    width:150px;
    border: white;
}
.nav ul {
    list-style: none;
    display: flex;   
}
.nav li{
    list-style-type: none;
    display: flex;
}
.nav .item{
    position:absolute;
    right: 0;
    top: 40px;
    display: flex;
    margin-right: 50px;
}
.nav .item ul li a{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family:Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: 20px;
    padding:  5px 5px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 15px;
    margin-left: 20px;
    text-decoration: none;
}
.nav .item ul li a:hover{
    color: cornflowerblue;
    background: white;
}
header{
    margin-bottom: 10px;
}
.nav .item .btn{
    margin-top: 20px;
    margin-left: 20px;
}
.btn .logbn{
    padding: 5px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
    border: 2px solid black;
    transition: 0.4s;
}
.logbn:hover{
    transform: scale(1.1);
}
.animation{
    margin-top: 20px;
    margin-left:15px ;
    height: 600px;
    width: 98%;
    background-size: 100% 100%;
    background-color: white;
    background-image: url("/images/save.jpg");
    animation: slider 20s infinite linear;
}
@keyframes slider{
    20%{ background-image :url("/images/savings.jpg");}
    50%{ background-image: url("/Images/current.jpg");}
    75%{ background-image: url("/Images/curr.jpg");}
}
.account{
    margin-left: 40px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
}
.acctitle h1{
    color: #003e7e;
    font-size: 40px;
    font-weight: bolder;
    margin-left: 40px;
    margin-top: 30px;
}
.acccon{
    width: 75%;
    margin-left: 100px;
    font-size: 20px;
}
.reason-title h1{
    color: #003e7e;
    font-size: 30px;
    text-align: center;
}
.redes{
    text-align: center;
    width: 70%;
    margin-left: 120px;
    font-size: 20px;
}
.reason-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 40px;
    column-gap: 20px;
}
.image{
    height: 300px;
    width: 300px;
}
.rimg{
    height: 200px;
    width: 200px;
    border-radius: 40%;
    margin-left: 50px;
    margin-top: 20px;
    transition: ease-in-out;
}
.rimg:hover{
    transform: translate(0, -10px);
}
.imagedes{
    color: #003e7e;
    font-style: italic;
    font-weight: 800;
}
.acc-detail{
    text-align: center;
    padding: 30px;
    font-size: 30px;
    color: rgb(40, 75, 141);
}
.all-account{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 60px;
    padding: 50px;
    column-gap: 20px;
}
.one{
    text-align: center;
    height: 500px;
}
.termimg img{
    width: 250px;
    height: 200px;
    margin-top: 20px;
    border-radius: 20%;
}
.termimg h2{
    color: #003e7e;
    font-size: 30px;
    font-weight: 600;
}
.terminfo{
    font-size: 18px;
    width:80%;
    margin-left: 33px;
}
.one:hover{
    border:3px #003e7e;
    box-shadow:5px 5px 5px 5px #003e7e;
    transform: translate(0, -20px);
}
.one button{
    margin: 50px;
    padding:14px;
    border-radius: 10%;
    background-color: #003e7e;
    color: white;
    font-size: 15px;
    margin-bottom: 20px;
}
.mimg{
    height: 350px;
    width: 400px;
    object-fit: cover;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}
.box-wrapper{
    position: relative;
    display: table;
    width: 1100px;
    margin-top: 35px;
    border-radius: 30px;
    margin-left: 150px;
}
.pic{
    width: 35%;
    height: 350px;
    float: left;
    display: block;
}
.form-wrap{
    width: 65%;
    float: right;
    border-radius: 0px 30px 30px 0px;
    background-color: #2f5a85;
    height: 350px;
}
.form-title{
    text-align: left;
    font-size: 30px;
    color: white;
    font-style: italic;
    margin-left: 20px;
}
.form-field{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 50px;
}
.form-field input,
.form-field textarea{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    background-color: beige;
    border-radius: 20px;
}
.form-field textarea{
    width: 90%;
}
.form-head{
    /* width: 46%;
    float: left; */
    margin: 14px 12px;
    border-radius: 25px;
}

.submit-btn{
    height: 60px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    color: black;
    text-align: center;
    background: white;
    margin-top: 10px;
    margin-left:40px;
    width: 50%;
    transition: 0.4s;
}
.submit-btn:hover{
    background-color:#57728d;
    transform: scale(1.1);
}
.foot{
    padding-top: 20px;
    background-color: #003e7e;
    margin-bottom: 0;
    height: 450px;
    text-align: center;
    margin-top: 60px;
}
.contact{
    align-items: center;
    text-align: center;
}
.contact ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    position: relative;
    flex-direction: row;
    gap: 150px; 
    transition: 0.3s ease;
    margin-left: 100px;
}
.contact ul li a{
    padding: 10px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    transition: .3s;
    font-weight: 100;
}
.link1{
    text-decoration: none;
}
.offer-head, .offer-details, .foot-right{
    color: aliceblue;
    margin-left: 20px;
}
.offer-details{
    font-style: italic;
}
.foot-mid .social-links{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.social-links .soc-link{
    margin-top: 30px;
    margin-left: 100px;
}
.social-links ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    position: relative;
    flex-direction: row;
    gap: 50px; 
    transition: 0.3s ease;
}
.social-links ul li:hover{
    color: burlywood;
    transform: scale(1.1);
}
.social-links ul li a p:hover{
    color: burlywood;
    transform: scale(1.1);
}
.social-links p{
    color: antiquewhite;
    margin-left: 20px;
}
.copyright {
    height: 50px;
    padding: 1px;
    font-size: large;
    font-weight: bold;
    text-align: center;
    background-color: #00244b;;
}
.copy{
    color: white;
}
.copy1{
    padding: 20px;
}