*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body{
  margin:0%;
  font-family: Georgia, 'Times New Roman', Times, serif;

}

h2{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.nav{
  width: 100%;
  height: 150px;
  background-color:  #003e7e;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.nav .logo{
  margin-top: 14px;
  margin-left: 35px;
  height: 120px;
  width:150px;
  border: white;
}
.nav ul {
  list-style: none;
  display: flex;   
}
.nav li{
  list-style-type: none;
  display: flex;
}
.nav .item{
      position:absolute;
      right: 0;
      top: 40px;
}

#btnimg{
  width: 30px;
  height: 30px;
}

.nav .item #search{
  margin-top: 15px;
  padding: 5px;
  height: 35px;
  font-weight: bold;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.nav .item #button{
  margin-right: 20px;
  margin-top: 15px;
  height: 35px;
  width: 100px;
  border: 2px solid black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition: .2s;
}

.nav .item #button:hover{
  transform: scale(1.1);
}

.nav .item ul li a{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: aliceblue;
  font-size: 20px;
  padding:  5px;
  border-radius: 10px;
  transition: 0.2s;
  margin: 15px;
  text-decoration: none;
}
.nav .item ul li a:hover{
  color: cornflowerblue;
  background: white;
}
header{
  margin-bottom: 10px;
}
.navbar{
    position: relative;
    background-image:url(../Images/1678355717544.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 600px;
    
}

.navbar{
  filter:blur(.7px);
}

.para{
  text-transform: uppercase;
  font-display:inherit ;
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: xx-large;
  text-align: center;
  position: absolute;
  top: 200px;
  left: 15px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  backdrop-filter: blur(5px);
}

.box{
  background-color : black;
  color: white;
  width: 300px;
  height: 500px;
  margin: 100px;
  transition: 1s;
  border-radius: 10px;
  
}

.box:hover{
  box-shadow: 30px 30px 10px black;
  
}
.box ul li{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    list-style: none;
    padding-top: 20px;
}

.container1{
  display: flex;
  justify-content: space-evenly;
}

.container{
  color:#b2a18a;
  font-size: 20px;
  background-color: white;
  }
.container #dimage{
  width: 180px;
  height: 200px;
  transition: .4s;
  padding: 20px;
  margin-left: 60px;
}

#font{
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  font-size: large;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.container img:hover{
  transform: scale(1.1);
}
.cover1{
  width: 100%;
  height: 400px;
  gap:10px;
  align-items: center;
  margin-top: 100px;
  display:flex;
  justify-content: space-between;
  background-color: white;
  padding-top: 30px;
}

.cover2{
  display: flex;
  background-color: white;
  padding-top: 20px;
  justify-content: space-between;
}

.container img{
  width: 300px;
  height: 200px;
  transition: 2s;
  border: 4px;  
  padding: 5px;
}

.text{
  color: black;
  text-align: center;
}

.type{
  background-color: white;
  width: 95%;
  border-radius: 10px;
  margin-top: 50PX;
  margin-left: 20px;
  border: 2px solid black;
}



/* FOOTER SECTION */

footer{
  background-color: #003e7e;
  margin-top: 20px;
  width: 100%;
  height:90vh;
}

/* Search Bar */

.footer .search{
  float: right;
  margin-top: 50px;
  margin-right: 50px;
  
}

.search input{
  border-radius: 5px;
  padding: 5px;
}

.search input #submit{
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: aliceblue;
  
}

.socialmedia h3{
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 20px;
  display: flex;
  margin-top: 10px;
  margin-left: 30px;
}

.socialmedia a{
  float: left;
  display: flex;    
  margin-top: 50px;
  margin-left: 23px;
  transition: .4s;
}

.socialmedia a:hover{
  transform: scale(1.1);
}

/* TERMS */

.terms{
  margin-left: 450px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.terms li{
  margin-bottom: 20px;
  list-style: none;
}
.terms ul li a{
  display: flex;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;  
  transition: .4s;
  
}

.terms ul li a:hover{
  color:burlywood;   
  transform: scale(1.1); 
  text-decoration: underline;
}

.copyright {
  width: 100%;
  height: 50px;
  padding: 1px;
  font-size: large;
  font-weight: bold;
  margin-top:100px;
  text-align: center;
  background-color: #00244b;;
}
.copy{
  color: white;
}
.copy1{
  padding: 20px;
}

.map{
  margin-top: 40px;
  margin-left: 50px;
  
}

.contactinfo{
  position: relative;
}

.contact{
  position: absolute;
  top:-240px;
  left: 700px;
}

.contact li{
  list-style: none;
  display: flex;
  padding: 15px;
  

}
.contact ul li a{
  padding: 10px;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  transition: .3s;
  font-weight: 100;
}

.contact ul li a:hover{
  color: burlywood;
  transform: scale(1.1);
}

.contact img{
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;

}

#myBtn {
  position: fixed;
  bottom: 80px;
  left:1350px;
  background-color: #555555;
  color:white;
  cursor: pointer;
  border-radius:50%;
  width: 55px;
  height: 55px;
  font-size:xx-large;
  transition: .4s;

}
#myBtn:hover {
  background-color: #555;
  transform: scale(1.1);
}

#myBtn img{
    border-radius: 50%;
    color: white;
    background-color: black;
}
